body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #080c25, #0C1133);
}

.cabecalho {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border-width: 3.5px;
    border-style: solid;
    border-color: transparent;
    background-image: 
        linear-gradient(to right, #00E1FF, #183EFF, #6F00FF, #FF008C),
        linear-gradient(to right, #00E1FFBF, #183EFFBF, #6F00FFBF, #FF008CBF);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.logo {
    width: 80px;
    height: 80px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Segoe UI';
    font-size: 25px;
}

.menu a {
    text-decoration: none;
    color: inherit;
    padding: 10px 20px;
    /*border-radius: 8px;*/
    display: inline-block;
    transition: background-color 0.1s ease, transform 0.1s ease;
}

.menu a:hover {
    transform: scale(1.1);
    background-color: #FFFFFF40;
}

.menu a:active {
    transform: scale(0.9);
}

.principal {
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
}

.caixa1 {
    background-color: #ECECEC;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    transition: transform 0.1s ease;
}

.caixa1:hover {
    transform: scale(1.1);
}

.caixa1:active {
    transform: scale(0.9);
}

.caixa1 img {
    max-width: 175px;
    object-fit: contain;
}

.caixa2 {
    background-color: #FFE4D7;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    transition: transform 0.1s ease;
}

.caixa2:hover {
    transform: scale(1.1);
}

.caixa2:active {
    transform: scale(0.9);
}

.caixa2 img {
    max-width: 175px;
    object-fit: contain;
}

.caixa3 {
    background-color: #FFFFFF;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    transition: transform 0.1s ease;
}

.caixa3:hover {
    transform: scale(1.1);
}

.caixa3:active {
    transform: scale(0.9);
}

.caixa3 img {
    max-width: 175px;
    object-fit: contain;
}

.caixa4 {
    background-color: #FFD9AC;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    transition: transform 0.1s ease;
}

.caixa4:hover {
    transform: scale(1.1);
}

.caixa4:active {
    transform: scale(0.9);
}

.caixa4 img {
    max-width: 175px;
    object-fit: contain;
}

.secundaria {
    margin: 7.5px;
    margin-bottom: 35px;
    background: linear-gradient(to top, #921EFF, #401EFF);
    height: 450px;
    padding-top: 20px;
}

.titulo-secao {
    padding-bottom: 50px;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Segoe UI';
    font-size: 25px;
}

.textos {
    display: flex;
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
    align-items: center;
    height: 310px;
    justify-content: space-around;
    font-family: Arial;
}

.p-texto {
    width: 350px;
}

.rodape {
    display: flex;
    background-color: #02030A;
    color: #FFFFFF;
    justify-content: space-around;
    align-items: center;
    font-family: Arial;
    font-style: italic;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.rodape p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circulo {
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.circulo img {
    max-width: 45px;
    max-height: 45px;
    object-fit: contain;
}