body {
    margin: 0;
    padding: 0;
    background-color: #121846;
}

.cabecalho {
    margin: 10px;
    background: linear-gradient(to right, #00CFFF, #7A00FF, #FF007A);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border-radius: 100px;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 16px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 44px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: Arial;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: inherit;
}

.principal {
    display: flex;
    justify-content: space-around;
    height: 500px;
    background-color: #121846;
    align-items: center;
}

.caixa1 {
    background-color: #FFE5C8;
    width: 200px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.caixa1 img {
    max-width: 175px;
    object-fit: contain;
}

.caixa2 {
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.caixa2 img {
    max-width: 175px;
    object-fit: contain;
}

.caixa3 {
    background-color: #FFEDE8;
    width: 200px;
    height: 200px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.caixa3 img {
    max-width: 175px;
    object-fit: contain;
}

.secundaria {
    margin: 7.5px;
    margin-bottom: 35px;
    background-color: #7605FF;
    height: 434px;
    padding-top: 20px;
    border-radius: 24px;
}

.titulo-secao {
    padding-bottom: 50px;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
}

.textos {
    display: flex;
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
    align-items: center;
    height: 310px;
    justify-content: space-around;
    font-family: Arial;
}

.p-texto {
    width: 350px;
}

.rodape {
    display: flex;
    background-color: #4d4d4d;
    color: #ffffff;
    justify-content: space-around;
    align-items: center;
    font-family: Arial;
    font-style: italic;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.rodape p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circulo {
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.circulo img {
    max-width: 45px;
    max-height: 45px;
    object-fit: contain;
}

/* .circulos {
    display: flex;
} */