body {
    margin: 0;
    padding: 0;
}

.cabecalho {
    margin: 5px;
    background-color: #1545C9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border-radius: 12px;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 16px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 44px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: Arial;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: inherit;
}

.principal {
    display: flex;
    justify-content: space-around;
    height: 500px;
    background-color: #FFFFFF;
    align-items: center;
}

.caixa1 {
    background-color: #FFE5C8;
    width: 225px;
    height: 225px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.caixa1 img {
    max-width: 200px;
    object-fit: contain;
}

.caixa2 {
    background-color: #FFEDE8;
    width: 225px;
    height: 225px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.caixa2 img {
    max-width: 200px;
    object-fit: contain;
}

.secundaria {
    margin: 5px;
    background-color: #009be2;
    height: 384px;
    padding-top: 20px;
    border-radius: 12px;
}

.titulo-secao {
    text-align: center;
    margin: 0;
    color: #FFFFFF;
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
}

.textos {
    display: flex;
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
    align-items: center;
    height: 310px;
    justify-content: space-around;
    font-family: Arial;
}

.p-texto {
    width: 350px;
}

.rodape {
    display: flex;
    background-color: #161616;
    color: #ffffff;
    justify-content: space-around;
    align-items: center;
    font-family: Arial;
    font-style: italic;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.circulo {
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.circulo img {
    max-width: 45px;
    max-height: 45px;
    object-fit: contain;
}

/* .circulos {
    display: flex;
} */