/* Página Inteira*/
body {
    background: linear-gradient(to top, #080c25, #0C1133);
    margin: 0;
    padding: 0;
}

/* Barra Superior */
.cabecalho {
    align-items: center;
    background-clip: padding-box, border-box;
    background-image:
        linear-gradient(to right, #00E1FF, #183EFF, #6F00FF, #FF008C),
        linear-gradient(to right, #00E1FFBF, #183EFFBF, #6F00FFBF, #FF008CBF);
    background-origin: border-box;
    border-color: transparent;
    /* border-radius: 100px; */
    border-style: solid;
    border-width: 3.5px;
    display: flex;
    height: 100px;
    justify-content: space-around;
    margin: 10px;
}

.logo {
    /* border-radius: 16px; */
    height: 80px;
    width: 80px;
}

.menu {
    color: #FFFFFF;
    display: flex;
    font-family: 'Segoe UI';
    font-size: 25px;
    font-weight: bold;
    gap: 20px;
    list-style: none;
}

.menu a {
    /*border-radius: 8px;*/
    color: inherit;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.1s ease, transform 0.1s ease;
}

.menu a:hover {
    background-color: #FFFFFF40;
    transform: scale(1.1);
}

.menu a:active {
    transform: scale(0.95);
}

/* Acesso Rápido */
.secao-principal {
    align-items: center;
    display: flex;
    height: 500px;
    justify-content: space-around;
}

.caixa1 {
    /* border-radius: 16px; */
    align-items: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    height: 200px;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.1s ease;
    width: 200px;
}

.caixa1:hover {
    transform: scale(1.1);
}

.caixa1:active {
    transform: scale(0.95);
}

.caixa1 img {
    max-width: 175px;
    object-fit: contain;
}

.caixa2 {
    /* border-radius: 16px; */
    align-items: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    height: 200px;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.1s ease;
    width: 200px;
}

.caixa2:hover {
    transform: scale(1.1);
}

.caixa2:active {
    transform: scale(0.95);
}

.caixa2 img {
    max-width: 175px;
    object-fit: contain;
}

.caixa3 {
    /* border-radius: 16px; */
    align-items: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    height: 200px;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.1s ease;
    width: 200px;
}

.caixa3:hover {
    transform: scale(1.1);
}

.caixa3:active {
    transform: scale(0.95);
}

.caixa3 img {
    max-width: 175px;
    object-fit: contain;
}

.caixa4 {
    /* border-radius: 16px; */
    align-items: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    height: 200px;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.1s ease;
    width: 200px;
}

.caixa4:hover {
    transform: scale(1.1);
}

.caixa4:active {
    transform: scale(0.95);
}

.caixa4 img {
    max-width: 175px;
    object-fit: contain;
}

.caixa5 {
    /* border-radius: 16px; */
    align-items: center;
    background-color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    height: 200px;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.1s ease;
    width: 200px;
}

.caixa5:hover {
    transform: scale(1.1);
}

.caixa5:active {
    transform: scale(0.95);
}

.caixa5 img {
    max-width: 175px;
    object-fit: contain;
}

/* Seção de Comparativos */
.secao-secundaria {
    /* border-radius: 24px; */
    background: linear-gradient(to top, #921EFF, #401EFF);
    height: auto;
    margin: 25px;
    min-height: 675px;
    padding: 20px 20px;
}

.titulo-secao-secundaria {
    color: #FFFFFF;
    font-family: 'Segoe UI';
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.itens-secao-secundaria {
    align-items: left;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-size: 15px;
    gap: 50px;
    text-align: justify;
}

.item-secao-secundaria {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.item-secao-secundaria img {
    background-color: #FFFFFF1A;
    /* border-radius: 16px; */
    max-width: 125px;
    object-fit: contain;
    padding: 7.5px;
}

.item-secao-secundaria h3 {
    font-size: 20px;
    font-weight: bold;
}

/* Rodapé */
.rodape {
    align-items: center;
    background-color: #02030A;
    color: #FFFFFF;
    display: flex;
    font-family: Arial;
    font-size: 15px;
    font-style: italic;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
}

.rodape p {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.circulo-rodape {
    /* border-radius: 100px; */
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
}

.circulo-rodape img {
    max-height: 45px;
    max-width: 45px;
    object-fit: contain;
}