/* Sem bordas arredondadas para as versões beta */
* {
    border-radius: 0 !important;
}

/* Página Inteira */
body {
    background: linear-gradient(to top, rgb(7, 15, 31), rgb(15, 15, 46));
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Barra Superior */
.cabecalho {
    align-items: center;
    background-clip: padding-box, border-box;
    background-image:
        linear-gradient(to right, rgb(0, 225, 255), rgb(0, 127, 255), rgb(0, 63, 255), rgb(63, 0, 255), rgb(127, 0, 255), rgb(255, 0, 255)),
        linear-gradient(to right, rgba(0, 225, 255, 0.70), rgba(0, 63, 255, 0.70), rgba(63, 0, 255, 0.70), rgba(255, 0, 255, 0.70));
    background-origin: border-box;
    border-color: transparent;
    border-radius: 100px;
    border-style: solid;
    border-width: 4px;
    display: flex;
    height: 72.5px;
    justify-content: space-around;
    margin: 10px 20px;
}

.logo {
    border-radius: 24px;
    max-width: 65px;
    width: auto;
}

.menu {
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 22.5px;
    font-weight: bold;
    gap: 15.5px;
    list-style: none;
}

.menu a {
    border-radius: 100px;
    color: inherit;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.1s ease, transform 0.1s ease;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.149);
    transform: scale(1.1);
}

.menu a:active {
    transform: scale(0.95);
}

/* Acesso Rápido */
.secao-principal {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-around;
    min-height: 400px;
}

.seletor {
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    box-sizing: border-box;
    display: flex;
    height: 175px;
    justify-content: center;
    margin: 5px;
    overflow: hidden;
    transition: transform 0.1s ease;
    width: 175px;
}

.seletor:hover {
    transform: scale(1.1);
}

.seletor:active {
    transform: scale(0.95);
}

.seletor img {
    max-width: 150px;
    object-fit: contain;
    width: auto;
}

/* Seção de Comparativos */
.secao-secundaria {
    border-radius: 24px;
    background: linear-gradient(to top, rgb(127, 31, 255), rgb(63, 31, 255));
    height: auto;
    margin: 20px;
    min-height: 25px;
    padding: 20px;
}

.titulo-secao-secundaria {
    color: rgb(255, 255, 255);
    font-size: 22.5px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.itens-secao-secundaria {
    align-items: left;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 20px;
    text-align: justify;
}

.item-secao-secundaria {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.item-secao-secundaria img {
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 24px;
    max-width: 100px;
    object-fit: contain;
    padding: 7.5px;
}

.item-secao-secundaria h3 {
    font-size: 20px;
    font-weight: bold;
}

.aviso-secao-secundaria {
    color: rgb(255, 255, 0);
    display: flex;
    font-size: 17.5px;
    font-style: italic;
    justify-content: center;
}

/* Rodapé */
.rodape {
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-top: rgb(45, 45, 45) solid 2px;
    bottom: 0;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 15px;
    font-style: italic;
    justify-content: space-around;
    margin-top: auto;
    padding: 20px 0px;
}

.rodape p {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.circulo-rodape {
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
}

.circulo-rodape img {
    border-color: rgb(255, 255, 255);
    border-radius: 100px;
    border-style: solid;
    border-width: 2.5px;
    max-height: 45px;
    max-width: 45px;
    object-fit: contain;
}